*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.big-container{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* * header */
header{
  display: flex;
  justify-content: flex-end;
}

header > *{
  background-color: #4A4A4A;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}