*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.big-container{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* * header */
header{
  display: flex;
  justify-content: flex-end;
}

header > *{
  background-color: #4A4A4A;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

/* * Main */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.persona{
  width: calc(100%/7);
  padding: 5px;
  position: relative;
}

.persona > img{
  width: 100%;
}

.persona > span{
  position: absolute;
  bottom: 3%;
  left: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/* * Footer */
footer{
  background-color: #222222;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex{
  display: flex;
}

.margin-left-right > *{
  margin: 0 0.8rem;
}

.margin-left-right > i{
  transform: scale(0.7);
}

.fa-share-from-square{
  color: #4BC800;
}

.bg-lightgray{
  background-color: #4A4A4A;
  padding: 30px;
}

.bg-lightgray span{
  color: red;
}

.text-align{
  text-align: center;
}

.text-align i{
  margin-bottom: 1rem;
  transform: scale(1.7);
}